<%- include('header');-%>
    <div class="container justify-content-center">
        <p class="h1">Universidad de El Salvador<br/>Programacion 3</p>
        <h2><%= carnet %></h2>
        <p class="h3"><%= nombre %><br/><%= apellidos %></p>
    </div>

    <%- include('footer');-%>