<%- include('header'); -%>
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
            <!-- Taller 4: Docker Container -->
        </h1>
    </div>
    <div class="box">
        <% listOfItems.forEach(element => { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= element %>
                </p>
            </div>
            <% }); %>
                <form action="/" method="POST" class="item">
                    <input type="text" name="newItem" placeholder="Add new item" autocomplete="off">
                    <button type="submit" name="listTitle" value=<%=listTitle %> >+</button>
                </form>
    </div>
    <%- include('footer'); -%>